<h1>About Us</h1><br>

<p>At Turing we study software design and emphasis the power that good design has to change the world. With this project we wanted to make it easier to track and compare the footprint of our electricity use. Sign in, invite your friends, and see if impact is as small as you hope.</p><br>

<h3> Find out more about each of us below.</h3><br>
<p> Alex Osborne - <a href="https://github.com/AlexanderOsborne">Github</a> - <a href="https://www.linkedin.com/in/alex-osborne/">LinkedIn</a></p><br>
<p> Aiden Mendez - <a href="https://github.com/aidenmendez">Github</a> - <a href="https://www.linkedin.com/in/aiden-mendez/)">LinkedIn</a></p><br>
<p> Catherine Dean - <a href="https://github.com/catherinemdean15">Github</a> - <a href="https://www.linkedin.com/in/catherine-dean-57a92030/">LinkedIn</a></p><br>
<p> James Fox-Collis - <a href="https://github.com/jlfoxcollis">Github</a> - <a href="https://www.linkedin.com/in/james-fox-collis/">LinkedIn</a></p><br>
<p> Robert Heath - <a href="https://github.com/kaiheiongaku">Github</a> - <a href="https://www.linkedin.com/in/robert-heath-ii/">LinkedIn</a></p><br>
<p> Joe Jiang - <a href="https://github.com/ninesky00">Github</a> - <a href="https://www.linkedin.com/in/joe-jiang-0a655882/">LinkedIn</a></p><br>
