
<div class="grid w-full justify-items-center">
  <section class='grid grid-gutter justify-items-center items-center rounded-lg border-solid border-4 p-11  bg-gray-200 border-gray-900'>
    <h1 class="text-3xl">Welcome to Run the Joules!</h1>
    <p class="text-xl">Run the Joules is an app that allows you to compare your energy usage with your friends!</p>
  </section>
</div>
