
<div class="grid w-full justify-items-center grid-cols-2  divide-gray-500 space-x-6 bg-white">

  <section class='grid grid-gutter items-center p-11 border-gray-900 space-y-6 font-sans Roboto'>
    <h1 class="text-left text-5xl font-bold text-blue-700">Run the Joules</h1>
    <p class="text-xl">Track energy usage, earn points, and compete with neighbors. RTJ automatically syncs monthly usage data across dozens of utility providers.</p>
  </section>

  <section class="relative pl-4 -mr-40 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:h-full lg:pl-12 h-screen object-cover bg-right shadow-2xl pt-6">
    <%= image_tag("hero-image.png") %>
  </section>
</div>


